---
layout: default
---

{% for post in paginator.posts %}
  {% assign post_date = post.date | date: '%Y-%m-%d' %}
  {% assign last_updated = post.last_updated | date: '%Y-%m-%d' %}
  {% assign post_href = site.github.url | append: post.url %}
  {% assign read_more_text = 'Read more' %}
  {% if post.substack_url %}
    {% assign post_href = post.substack_url %}
    {% assign read_more_text = 'Read on Substack' %}
  {% elsif post.redirect_to %}
    {% assign redirect_target = post.redirect_to | first %}
    {% if redirect_target contains 'http' %}
      {% assign post_href = redirect_target %}
      {% assign read_more_text = 'Read on Substack' %}
    {% endif %}
  {% endif %}

  <div class="posts-container">
    <h1>
      <a href="{{ post_href }}">
        {% if last_updated != post_date %}[UPDATED] {% endif %}{{ post.title }}
      </a>
    </h1>
    <!-- {{ last_updated }} | {{ post_date }} -->
    {% if post.image %}
      <div class="thumbnail-container">
        <a href="{{ post_href }}"><img src="{{ site.github.url }}/assets/img/{{ post.image }}"></a>
      </div>
    {% endif %}
    <p>
      {{ post.content | strip_html | truncate: 350 }} <a href="{{ post_href }}">{{ read_more_text }}</a>
      <span class="post-date">
        <i class="fa fa-calendar" aria-hidden="true"></i> 
        {% if last_updated != post_date %}
          {{ post.last_updated | date_to_string }} (Updated)
        {% else %}
          {{ post.date | date_to_string }}
        {% endif %}
        - <i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}
      </span>
    </p>
  </div>
{% else %}
  <p>No posts found</p>
{% endfor %}

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-button pagination-active next" href="{{ site.github.url }}{{ paginator.next_page_path }}">{{ site.data.settings.pagination.previous_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.previous_page }}</span>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-button pagination-active" href="{{ site.baseurl }}{{ paginator.previous_page_path }}">{{ site.data.settings.pagination.next_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.next_page }}</span>
  {% endif %}
</div>
